body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#wrapper{
  
  
  background-color: blanchedalmond;
}
#refresh{
  position: relative;
  top: 400px;
  left: 50%;
  background-color: rgb(44, 7, 7);
}
#No{
  position: relative;
  top: 400px;
  left: 52%;
  font-size: x-large;
  font-weight: bolder;
  color: rgb(49, 4, 4);
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
